
*~
asic/edged/edged
asic/openmdk/
bde_dump*
*.cmd
# Cross-compiled edged binary (built by Docker; recreated on demand)
*.ko
*.mod
*.mod.c
*.mod.o
modules.order
Module.symvers
*.o
oarr_dump
output/
*.swp
.tmp_versions/
tools/diag/*_dump
